{{> header}}

<main>
	{{> left-navbar}}

  <div class="recipe-workspace">
  		 {{!-- {{> home-page}}

    	{{> contact-page}}
 --}}
	 <h1 class="recipe-header">List of Recipes:</h1>
	 	<h3>Main Recipe Info: </h3>
    	{{#each recipeMain}}
    		<p>{{this.recipe_name}}
    		{{this.recipe_category}}
    		{{this.prep_time}}
    		{{this.cook_time}}
    		{{this.temp}}
    		{{this.yield}}
    		</p>
    	{{/each}}

    	<h3>Equipment: </h3>
    	{{#each equipment}}
    		<p>{{this.equipment_piece}}
    		</p>
    	{{/each}}

{{!--     	<h3>Ingredients: </h3>
    	{{#each ingredients}}
    		<p>{{this.ingredient_value}}
    		</p>
    	{{/each}}
 --}}
    	<h3>Steps: </h3>
    	{{#each steps}}
    		<p>{{this.step_value}}
    		</p>
    	{{/each}}


		<div class="recipe-list">
			{{#if recipes}}
				{{#each recipes}}
					{{> recipe-icon-title categoryName = ../title}}
				{{/each}}
			{{else}}
				{{#if category}}
					{{#each category}}
						<h3>{{@key}}</h3>
						{{#each this.recipes}}
							<p>{{this.title}}</p>
						{{/each}}
					{{/each}}
				{{/if}}
			{{/if}}

		</div>
	</div>


  <div class="right-frame"></div>

  <div id="search-box">
    <input id="search-box-input" type="text" placeholder="Enter search query...">
  </div>

	{{> google-search}}

</main>

{{> footer}}

<button type="button" class="google-search">Google Search?</button>

{{> create-recipe}}
